<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=QUANLYNHANVIEN_JAVA5</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>

		<!-- insert UTF-8 -->
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<!-- Mapping file -->
		<mapping class="com.java5.quanlynhanvien.model.User" />
		<mapping class="com.java5.quanlynhanvien.model.Departs" />
		<mapping class="com.java5.quanlynhanvien.model.Records" />
		<mapping class="com.java5.quanlynhanvien.model.Staffs" />
		<mapping class="com.java5.quanlynhanvien.model.DepartsExtend" />
	</session-factory>
</hibernate-configuration>